/* #root {
    height: 80%!important;
} */

.mdc-top-app-bar--fixed-adjust {
  padding-top: 0px !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

.root {
  display: flex;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 7;
  /* max-height: 120vh; */
  overflow: hidden;
}

.carousel {
  flex: 1;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mediaContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  /* Establecer altura fija */
}

/* Estilos para hacer que el componente Card ocupe toda la pantalla */
.mediaContainerFullScreen {
  position: fixed; /* Hace que el contenedor sea posicionado de forma fija en la pantalla */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; /* Asegura que el contenedor esté en el frente de todos los demás elementos */
  display: flex; /* Hace que los elementos dentro del contenedor se muestren en una fila */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  background-color: rgba(0, 0, 0, 0.9); /* Color de fondo semitransparente para hacerlo más oscuro */
}


.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* Proporción de aspecto 16:9 para videos */
  /* height: 0; */
}

.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important; 
  object-fit: cover;
  /* Para forzar el tamaño sin deformar la imagen */
}

.thumbnailContainer {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
}

.thumbnail {
  height: 50px;
  width: 60px;
  margin-right: 8px;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnail.active {
  border-color: #1976d2;
}

.lmnt.mdc-button.mdc-button--touch.mdc-button--outlined.lmnt-button--outlined-primary {
  padding: 10px 130px 10px 130px;
}

.carousel {
  position: relative;
  transition: transform 0.5s ease;
}

.carousel .counter {
  position: absolute;
  top: 15%;
  left: 10;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  z-index: 1;
}

.carousel .counter-text {
  color: #fff;
}


.carousel.slidingNext {
  pointer-events: none;
}

.carousel.slidingNext .mediaContainer {
  animation: slideAnimationNext 0.3s ease;
}

.carousel.slidingPrev {
  pointer-events: none;
}

.carousel.slidingPrev .mediaContainer {
  animation: slideAnimationPrev 0.3s ease;
}

@keyframes slideAnimationPrev {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes slideAnimationNext {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.indicator {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.prevButton {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #FFF;
  /* transform: translateY(-50%); */
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 30px;
  color: #FFF;
  /* transform: translateY(-50%); */
}

/*Con el siguiente codigo se arreglan los iconos chevron para que queden centrados*/
.lmnt .lmnt-icon-button {
  padding: 0 0 10px !important;
}

.thumbnail.drag-over {
  border-color: #1976d2;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.thumbnail-inner.active {
  /* Estilos para el thumbnail activo */
}

.thumbnail-inner.active .thumbnail-overlay {
  /* Estilos para el overlay del thumbnail activo */
}

.thumbnail-inner {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
